@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

#main{
    width: 100%;
    height: 100vh;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 3rem;
}

.menu_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item li{
    margin: 0 15px;
    position: relative;
    transition: all 0.1s linear;
}

.menu_item li a{
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.more_item{
    opacity: 0;
    position: absolute;
    width: 220px;
    top: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px 0; */
    border-top: 3px solid #c33;
    transition: opacity 0.5s linear;
}
.more_item li{
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 100;
    margin: 0;
}
.more_item li a{
    padding: 0 8px;
    font-size: 16px;
}
.more_item li:hover{
    background: rgb(218, 213, 213);
}
.more_item li a:hover {
    color: #c33;
}
.rotate{
    font-size: 20px;
}
.menu_item li:hover .more_item{
    opacity: 1;
    transition: opacity 0.5s linear;
}
.menu_item li:hover .rotate{
    transform: rotate(180deg);
    transition: all 0.1s linear;
    color: #c33;
}

.tel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}