@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

#main{
    width: 100%;
    /* height: 100vh; */
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5rem;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
nav.sticky{
    padding: 2px 0;
    background: #fff;
}

.menu_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item li{
    margin: 0 15px;
    position: relative;
    transition: all 0.1s linear;
}

.menu_item li a{
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}
.menu_item li:hover a{
    color: #c33;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.more_item{
    position: absolute;
    width: 220px;
    top: 40px;
    background: white;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px 0; */
    border-top: 3px solid #c33;
    display: none;
}
.more_item li{
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 100;
    margin: 0;
}
.more_item li a{
    padding: 0 8px;
    font-size: 16px;
}
.more_item li:hover{
    background: rgb(218, 213, 213);
}
.more_item li a:hover {
    color: #c33;
}

.menu_item li:hover .more_item{
    display: block;
}

.rotate {
    font-size: 20px;
}
.menu_item li:hover .rotate{
    transform: rotate(180deg);
    transition: all 0.1s linear;
    color: #c33;
}

.tel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tel img{
    margin-right: 10px;
}
.menu_icon{
    font-size: 32px;
    display: none;
}

/*============================== Navbar End ==================== */

/*============================== Swiper start ==================== */

.swiper {
    width: 100%;
    height: 100%;
    /* margin-top: 5%; */
}

.swiper-slide {
    /* height: 100vh; */
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}

.content{
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 5rem;
}
.swiper_content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.swiper_content span{
    margin-bottom: 25px;
    color: #c33;
    font-weight: bold;
}
.swiper_content h1{
    font-size: 3rem;
}
.swiper_content h1 a{
    text-decoration: underline;
    color: #c33;
    margin: 0 10px;
}
.swiper_content p{
    text-align: left;
    padding: 35px 0;
    font-weight: 300;
    word-spacing: 2px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background: #c33;
    border: none;
    color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.buttons i{
    font-size: 40px;
    color: #c33;
    cursor: pointer;
}

.img_box{
    width: 45%;
    height: 100%;
}
.img_box img{
    width: 100%;
}

.social_icon{
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 50px;
    padding-right: 20px;
    color: #c33;
}
/*============================== Swiper section end ==================== */

/*============================== Quality section start ==================== */

#quality_section{
    padding: 50px 0;
}
.quality_wrapper{
    padding: 25px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quality_wrapper .quality{
    width: 24%;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    row-gap: 25px;
    transition: box-shadow 0.5s linear;
}
.quality_wrapper .quality:hover {
    box-shadow: 0px 0px 5px #000;
    transition: box-shadow 0.5s linear;
}
.quality_wrapper .quality:hover h3{
    color: #c33;
}
.quality_wrapper .quality img{
    width: 100px;
}
.quality_wrapper .quality h3{
    font-size: 22px;
}
.quality_wrapper .quality p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}
.discover_btn{
    width: 60%;
    background: none;
    border: none;
    font-size: 16px;
    position: relative;
}
.discover_btn::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: #000;
    left: 0;
    top: 25%;
    transform: rotate(45deg);
}
.discover_btn::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: #000;
    right: 0;
    top: 25%;
    transform: rotate(45deg);
}
.quality_wrapper .quality:hover .discover_btn{
    color: #c33;
}
.quality_wrapper .quality:hover .discover_btn::after,
.quality_wrapper .quality:hover .discover_btn::before {
    opacity: 0.1;
    transition: opacity 0.5s linear;
}

/*============================== email section start ==================== */
#email_section{
    padding: 50px 0;
}
.email_content{
    width: 100%;
    height: 40vh;
    background-image: url("./images/backImg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000008a;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email_text{
    width: 50%;
    color: #fff;
    line-height: 35px;
}
.email_text h2{
    font-size: 32px;
}
.email_input{
    width: 45%;
    background: red;
    position: relative;
}
.email_input input{
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 22px;
    padding: 0 10px;
}
.email_input input::placeholder{
    font-size: 16px;
    padding-left: 200px;
}
.email_btn{
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    background-color: #c33;
    border: none;
}
.email_btn i{
    font-size: 22px;
    color: #fff;
}
/*============================== email section end ==================== */

/*============================== about us section start ==================== */
#aboutus{
    padding: 50px 0;
}

.aboutus_wrapper{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_content{
    width: 45%;
    padding: 10px 3rem;
}
.about_us_content span{
    color: #c33;
    font-size: 22px;
}
.about_us_content h2{
    font-size: 35px;
    margin: 10px 0 30px 0;
}
.about_us_content p{
    font-weight: 200;
    word-spacing: 2px;
    line-height: 25px;
}

.service_booking{
    margin-top: 40px;
}

.service{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}

.service img{
    margin-right: 40px;
}

/*============================== About us section end ==================== */